/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {

  background-color: #DBDADA;
  font-family: 'Crimson-Text', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
}

h1 {
  font-weight: 700;
  font-size: 30px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

a {
  color: #357b70;
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #05676e;
}

a:active {
  /* selected link */
  color: #05676e;
}

.page-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header__item {
  margin: 100px 200px 0px 0px;
}

.top-page-title {
  font-family: 'Cinzel Decorative', cursive;
  margin: 100px 0px 0px 200px;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline;
  padding: 0px 25px 0px 25px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-top: 75px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-ul {
  padding-bottom: 20px;
}

.about-ul li {
  float: left;
  padding: 0px 50px 0px 0px;
}

.experience-table {
  text-align: center;
  padding: 0px 0px 50px 0px;
}

th {
  padding: 5px 25px 5px 25px;
}

td {
  padding: 5px 25px 5px 25px;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.page-footer img {
  width: 30px;
  height: 30px;
}

.about-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-page-footer {
  padding: 0px 50px 0px 50px;
}

.projects-page-footer {
  padding-bottom: 50px;
}

.below-footer {
  text-align: center;
}
/* start grid fallback */
.grid__item {
 display: inline-block;
 width: 50%;
}
/* end grid fallback */

@supports (display: grid) {
 .grid {
   display: -ms-grid;
   display: grid;
   /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
   -ms-grid-columns: 1fr 50px 1fr;
   grid-template-columns: 1fr 1fr;
   grid-gap: 50px;
   margin: 0px 100px 0px 100px;
   padding: 50px 50px 50px 50px;
 }
  }

 .grid__item {
   background-color: #c9cdd1;
   width: auto;
   min-height: auto;
   margin: 0;
 }

.grid h2 {
  text-align: center;
}

.grid p {
  padding: 0px 25px 0px 25px;
  text-align: center;
}

.grid a {
  display: block;
  text-align: center;
  padding: 0px 0px 25px 0px;
}

.contact-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-body ul li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding: 0px 25px 0px 25px;
}

.contact-dragon {
  display: block;
  padding: 0px 0px 0px 50px;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.standard-label {
  padding: 20px 0px 10px 0px;
}

textarea {
  padding: 10px 0px 0px 10px;
}

input {
  width: 400px;
  height: 30px;
  padding: 0px 0px 0px 10px;
}

.contact-message-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.contact-message-button:hover {
  opacity: .85;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
