$primary-color: #DBDADA;

:root {
  --link-color: #357b70;
  --visited-link: #05676e;
  --selected-link: #05676e;
}

* {
  box-sizing: border-box;
}

body {

background-color: #DBDADA;

  font-family: 'Crimson-Text', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
}

%h-shared {
  font-weight: 700;
}

h1 {
  @extend %h-shared;
  font-size: 30px;
}

h2 {
  @extend %h-shared;
  font-size: 24px;
}

h3 {
  @extend %h-shared;
  font-size: 18px;
}

a {
  color: var(--link-color);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: var(--visited-link);
}

a:active {
  /* selected link */
  color: var(--selected-link);
}

.portfolio-logo {
  display: flex;
  justify-content: center;
  flex: auto;
  padding: 50px 0px 0px 0px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  clear:both;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.button, button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.7s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

nav ul {
  padding: 0;
}

.page-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 20px 0 0;
}

.page-header__item {
  flex: 0 1 200px;
  text-align: center;
}

.page-header__item:last-child {
  flex-grow: 1;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin: 20px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-footer img {
  width: 30px;
  height: 30px;
}

/* start grid fallback */
.grid__item {
 display: inline-block;
 width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
 .grid {
   display: grid;
   /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
   margin: 0;
 }
  }
 .grid__item {
   background-color: lightgray;
   width: auto;
   min-height: auto;
   margin: 0;
 }
 .grid__item:last-child {
}

.about-me {
  padding: 0;
  text-align: center;
}

.enjoy-list {
  padding: 0;
}

.enjoy-list li {
  list-style-type: none;
}

.dragon-sunset {
  width: 500px;
  height: 500px;
}

.sun {
  animation: 15s color-change infinite alternate linear;
}

@keyframes color-change {
  0% {
    fill: #f3d952;
  }
  50% {
    fill: #eb6b34;
  }
  100% {
    fill: #f3ad52;
  }
 }

.top_cloud {
  
  animation: 15s color-change infinite alternate linear,
  15s cloud-move infinite alternate linear; 
}
   
  @keyframes color-change {
  0% {
    fill: #f3d952;
  }
  50% {
    fill: #eb6b34;
  }
  100% {
    fill: #f3ad52;
  }
 } 
   
  @keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(400px, 50px);
  }
 }

.bottom_cloud {
  
  animation: 15s color-change infinite alternate linear,
  15s cloud-move-reverse infinite alternate linear; 
}
  
  @keyframes color-change {
  0% {
    fill: #f3d952;
  }
  50% {
    fill: #eb6b34;
  }
  100% {
    fill: #f3ad52;
  }
 }
  
  @keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
 }

 .experience-table {
  margin: auto;
 }

 .contact-me {
   padding: 0;
   display: block;
   text-align: center;
 }

 #contact-form {
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

label, input {
  padding: 0;
  margin-top: 15px;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}